@use "./mixins.scss" as *;

:root {
  --clr-secondary: #46b1ff;
  --clr-light-blue: #dfddee;
  --clr-dark-blue: #1c325b;
  --clr-black-500: #555555;
  --clr-gray-100: #f9f9f9;
  --clr-gary-300: #eeeeee;
  --clr-primary: #1c325b;
  --clr-light: #f1f3f4;
  --clr-red: #d72f59;
  --clr-warning: #fff3cd;
  --clr-cancel: #ed5e68;
  --clr-white: #ffffff;
  --clr-error: #f8d7da;
  --default-radius: 10px;
}

@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSans_Medium.woff2") format("woff2"),
    url("/fonts/IRANSans_Medium.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IranNastaliq";
  src: url("/fonts/IranNastaliq-2.woff2") format("woff2"),
    url("/fonts/IranNastaliq-2.woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "IranSans";
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 13px;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

li {
  list-style: none;
}

svg {
  fill: var(--clr-black);
}

.icon-btn {
  background-color: transparent;
  @include flex-align-center;
  @include icon-size(24px);
  cursor: pointer;
  border: none;
}

.btn {
  background: transparent;
  border-radius: var(--default-radius);
  cursor: pointer;
  border: none;
}

.primary-btn {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  @extend .btn-style;
}

.secondary-btn {
  background-color: var(--clr-gray-100);
  color: var(--clr-black);
  padding: 1em;
}

.btn-style {
  margin-top: 1em;
  padding: 1em;
  width: 100%;
}

.table {
  border-collapse: collapse;
  margin: 1em 0 2em 0;
  width: 100%;

  thead {
    background-color: var(--clr-red);
    color: white;

    th:first-child {
      border-radius: 0 10px 0 0;
    }

    th:last-child {
      border-radius: 10px 0 0 0;
    }
  }

  tr:nth-child(even) {
    background-color: var(--clr-light);
  }

  th {
    padding: 0.7em;
    white-space: nowrap;
  }

  td {
    padding: 0.3em;
  }

  td,
  th {
    font-size: 12px;
    text-align: center;
  }

  tr {
    @include on-mobile {
      border: 1px solid #eee;
      border: none !important;
      margin-bottom: 1.5em;
      border-radius: 1em;
    }
  }
}

.icon-wrapper {
  @include flex-align-center;
  gap: 0.3em;
}

.icon-24 {
  svg {
    width: 24px;
    height: 24px;
  }
}

form {
  @include grid-gap(1.5em);
}

.g1 {
  @include flex-align-center;
  gap: 1em;
}

.input-group {
  @include flex-gap(1em);
  align-items: flex-start;
}

section {
  h1 {
    margin-bottom: 2em;
  }
}

.filters {
  @include flex-gap(1em);
  flex-wrap: wrap;
}

.cancel-btn,
.confirm-btn {
  padding: 1em;
  min-width: 110px;
  color: var(--clr-white);
}

.cancel-btn {
  background-color: var(--clr-cancel);
}

.confirm-btn {
  background-color: var(--clr-primary);
}

.invalid-input {
  background: #ffaaaa !important;
  border: 1px solid #f5c6cb;
  color: #666 !important;

  &::placeholder {
    color: #666 !important;
  }
}

.success-input {
  background-color: #b3c8cf !important;
  color: #303030 !important;
  border-color: #badbcc;

  &::placeholder {
    color: #ffffff !important;
  }
}

.text-center {
  text-align: center;
}

option {
  background: var(--clr-white);
  color: black;
}

.mt1 {
  margin-top: 1em;
}

.center {
  @include flex-center;
}

.loading {
  width: 100%;
  height: 100vh;
  @extend .center;

  .animation {
    @include size(400px);
  }
}
